.theme-light {
	--color-background: #ffffff;
	--color-link: pink;
	--color-linkhover: red;
	--color-text: #000000;
}
  
.theme-dark {
	--color-background: #000000;
	--color-link: pink;
	--color-linkhover: red;
	--color-text: #ffffff;
}

body
{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
	font-weight: 300;
	/*background: var(--color-background);
	color: var(--color-text);*/
	background: black;
	color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
@media (prefers-color-scheme: dark) {
  body {
	background: black;
	color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
	background: white;
	color: black;
  }
}

/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
#container
{
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
	z-index: 10;    
}

#story
{
	display: block;
	position: relative;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	width: 700px;
	min-width: 60vw;
	max-width: 600px; /*80vw !important;*/
	transition: opacity 2s ease;
	padding: 2em 1em 0em 1em;
}

@media (hover:none), (hover:on-demand)
{
	#story
	{
		max-width: 90%;
	} 
}

#story > *:first-child {
	margin-top: 10vh !important;
}

#story > *:last-child 
{
	margin-bottom: 15vh !important;
}

/* ================================================================= */

p
{
	margin-block-start: 0px !important;
	font-size: 14pt;
	line-height: 1.4;
}

p, p > *
{
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

a 
{	
	text-decoration: none !important;
	transition: all 0.5s linear;
}

a:hover
{
	color: var(--color-text);
}

.choice > a
{
	color: var(--color-link);
	opacity: 0.5;
	transition: all 1s;
}

.choice > a:hover
{
	color: var(--color-linkhover);
	opacity: 1;
	transition: all 1s;	
}

.choice > a:active
{
	color:var(--color-linkhover);
}

.chosen
{
	color: var(--color-link) !important;
	opacity: 1 !important;
}

img
{
	width: 60%;
	margin: 10pt auto 20pt;
	display: block;
}

.title
{
	text-align: center;
}
.title p {
	font-size: 22pt;
}

.subtitle
{
	font-style: italic;
	text-align: center;
}
.subtitle p
{
	font-size: 18pt;
}

.contentwarnings
{
	font-style: italic;
}

.menuchoice > a
{
	font-weight: bold;
	font-size: 25pt;
	text-decoration: underline;
}

.cwtitle
{
	font-style: italic;
}

li {
	font-size: 11pt;
}

#controls {
	z-index: 20;
	display: block;
	text-align: center;
	position: fixed;
	right: 12px;
	top: 4px;
}

#controls a.hover
{
	color: blue;
}

/* default to the 'dark' mode */


@media (prefers-color-scheme: light) {
	img[src*="dark"]] { display: none }
}

@media (prefers-color-scheme: dark) {
	img[src*="light"] { display: none }
}